body {
    margin: 0;
}

h1{
    font-size: small;
    display: inline;
}

#canvas {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#settings {
    position: absolute;
    z-index: 1;
    padding: 2px;
}